@import '../settings.scss';

.bio-section {
  display: flex;
  background-color: lighten($pink, 28%);
  border-radius: 30px;
  padding: $exa-byte-space $mega-byte-space;

  & > .content {
    width: 70%;

    & > .title {
      margin-bottom: $mega-byte-space;
    }

    & > .text {
      line-height: 160%;
    }
  }

  & > .illustration {
    width: 30%;
    object-fit: contain;
    margin-right: $tera-byte-space;
  }
}