.card-activity {
  border-radius: 20px;
  background-color: $white;
  padding: $mega-byte-space;
  display: flex;

  & > .content {
    padding-left: $mega-byte-space;

    & > .title {
      font-weight: $font-weight-extra-bold;
    }

    & > .description {
      margin: $byte-space 0;
    }

    & > .location {
      padding-top: $nibble-space;
      color: lighten($grey, 28%);
    }
  }
}

.info-list {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;

  .image {
    background-color: $pink;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .icon-description {
    padding-top: $nibble-space;

    & > .icon {
      width: 24px;
      height: 24px;
      vertical-align: bottom;
    }
  }
}