.card-activity {
  border-radius: 20px;
  background-color: $white;
  padding: $mega-byte-space;
  display: flex;

  @include bp(baby-bear) {
    flex-direction: column;
  }

  & > .content {
    padding-left: $mega-byte-space;

    @include bp(baby-bear) {
      padding: 0;
    }

    & > .title {
      font-weight: $font-weight-extra-bold;
      @include bp(baby-bear) {
        padding-top: $nibble-space;
      }
    }

    & > .description {
      margin: $byte-space 0;
    }

    & > .location {
      padding-top: $nibble-space;
      color: lighten($grey, 28%);
    }

    & > .links {
      @include bp(baby-bear) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.info-list {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;

  @include bp(baby-bear) {
    flex-direction: row;
    justify-content: space-between;
  }

  & > .image {
    background-color: $pink;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include bp(baby-bear) {
      height: 80px;
      width: 80px;
    }
  }
}

.icon-description {
  padding-top: $bit-space;

  & > .icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;

    @include bp(baby-bear) {
      height: 16px;
      width: 16px;
    }
  }
}
