.hero-section {

  & > .greeting {
    font-weight: $font-weight-extra-bold;

    @include bp(baby-bear) {
      font-size: 3em;
    }
  }

  & > .content {
    display: flex;
    justify-content: space-between;

    & > .illustration {
      width: 50%;
      object-fit: contain;
    }
  }
}

.personal-keywords {
  margin-top: $exa-byte-space;

  @include bp(baby-bear) {
    margin-top: $kilo-byte-space;
  }

  & > .word {
    &+.word {
      margin-top: $byte-space;
    }
  }
}