@import '../settings.scss';

.hero-section {
  display: flex;

  & > .content {
    width: 50%;
  
    & > .greeting {
      font-weight: $font-weight-extra-bold;
      color: $dark-grey;
    }
  }

  & > .illustration {
    width: 50%;
    object-fit: contain;
  }
}

.personal-keywords {
  margin-top: $exa-byte-space;

  & > .word {
    &+.word {
      margin-top: $byte-space;
    }
  }
}