@import '../settings.scss';

.nav-bar {
  display: flex;
  font-size: $font-size-normal;
  font-weight: $font-weight-semi-bold;
  align-items: center;
}

.nav-bar-item {

  & > .logo {
    margin-right: $nibble-space;
  }


  & > .link {
    border-bottom: solid 2px transparent;
    padding: $nibble-space  $giga-byte-space;
    
    &:hover {
      color: $purple;
      border-bottom: solid 2px $purple;
      cursor: pointer;
    }
  }
}