/* Generic
* ==================
* Generic Properties
*/

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal $font-weight-normal 16px 'Helvetica', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: $grey;
  background: lighten($grey, 60%);
}

