/* colors */
$card-shadow: 0 2px 8px 0 rgba(200, 200, 200, 0.5);

$grey: #4B5D68;
$blue: #212353;
$purple: #9C69E2;
$pink: #F063B8;
$green: #68C9BA;
$white: #fff;
$black: #000;

/* media queries */
$width-p: 769px;

/* fonts */
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 24px;

$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* space sizes */
$bit-space: 6px;
$nibble-space: 12px;
$byte-space: 18px;
$kilo-byte-space: 24px;
$mega-byte-space: 30px;
$giga-byte-space: 36px;
$tera-byte-space: 42px;
$peta-byte-space: 48px;
$exa-byte-space: 56px;
$zetta-byte-space: 60px;
